@use "../../../../assets/theme/var" as *;

.event {
  padding: 6rem 0;
  position: relative;

  .common-heading {
    color: $white;
  }

  &::after {
    background-image: url("../../../../assets/images/events_update.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (max-width: 991px) {
    padding: 3rem 0;
  }

  &_content {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;



    @media (max-width:1199px) {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }

    @media (max-width:767px) {
      grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    h4 {
      font-size: 2.8rem;
      font-weight: 600;

      @media (max-width:1679px) {
        font-size: 1.8rem;
      }

      @media (max-width:480px) {
        font-size: 1.6rem;
      }
    }

    p {
      font-size: 1.2rem;

      @media (max-width:480px) {
        font-size: 0.9rem;
      }
    }

    >div {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      .event_images {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 2rem;

        &:hover {
          transform: scale(1.04);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
          border-radius: 2rem;
        }
      }

      .comic {
        @media (max-width:1679px) {
          max-width: 9rem;
        }
      }

      .comin_mobile {
        width: 10rem;
      }

      .event_logo {

        &.amd {
          max-width: 19.4rem;

          @media (max-width:1679px) {
            max-width: 12.4rem;
          }


        }

        &.unreal {
          max-width: 100px;
          width: 100%;

          @media (max-width:1679px) {
            max-width: 5rem;
          }
        }

        &.mocap {
          height: 8.7rem;

          @media (max-width:1679px) {
            height: 5rem;
          }

          @media (max-width:575px) {
            height: 6.4rem;
          }
        }

        &.vfx {
          height: 69px;
        }
      }

      .overlay_text {
        position: absolute;
        color: $white;
        bottom: 2rem;
        z-index: 2;
        border-radius: 2rem;
        padding: 0 1.6rem;

        @media (max-width:480px) {
          padding: 0 1rem;
          bottom: 1rem;

        }

        .text {
          line-height: normal;
        }
      }
    }
  }
}