@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font family
$baseFont: "Poppins", sans-serif;
$globalFont: "Inter", sans-serif;

$black: #000;
$white: #fff;
$blue: #5730FF;
$grey: #777777;
$yellowGradient: linear-gradient(98.07deg, #C7902C 4.84%, #F0B95E 49.32%, #C7902C 93.79%);
$primary: #FFC107;
$borderclr :#6D6D6D;
$red :#c72538;
$lightgrey: #1D1D1D;
$yellow: #E7B053;
$navyblue: #021526;
$greybg: #F5F5F5;